.node h2.title{ /* Main post title for theme */
    color: #006400;
    font-family: Sans-Serif;
}

/* General overrides for H5P */
h3 {
    color: #006400;
}

h4 {
    font-weight: bold;
    color: #006400;
}

.h5p-drag-droppable-words div {
  display: inline;
}
