/* General overrides for H5P */
h3, h2 {
    color: #006400;
}

h4 {
    font-weight: bold;
    color: #006400;
}

.h5p-drag-droppable-words div, .h5p-drag-droppable-words span > p {
  display: inline;
}

.h5p-course-presentation .h5p-advanced-text .mjx-chtml * {
	line-height:0;
}

.h5p-course-presentation p:last-child {
	margin-bottom:1em;
}

span.mjx-chtml.MJXc-display {
    display: inline-block;
}
